#candidate-header.columns
  .column.text-center
    %figure.image.is-64x64.is-center
      = image_tag 'no-image.png', class: 'is-rounded'
  .column.text-center
    %p.title.is-4
      = current_user.presenter.short_name
    %p.subtitle.is-6
      habitliado documentação aprovada
      %br
      RII (Vulneraveis)
  .column.text-center
.container.index-content
  #candidate-links
    .big-divider
    .columns.is-gap.is-mobile.text-center
      .column
        = link_to candidate.cadastre_path(current_user) do
          = image_tag('icon-user.png')
          %p Meu cadastro
      .column
        = link_to candidate.notifications_path do
          = image_tag('icon-ring.png')
          %p Notificações
    .big-divider
    .columns.is-gap.is-mobile.text-center
      .column
        = link_to "#", remote: true do
          = image_tag('icon-refresh.png')
          %p Atendimento

      .column
        = link_to "#", remote: true do
          = image_tag('icon-calendar.png')
          %p Agendamento
    .big-divider
    .columns.is-mobile.text-center
      .column
        = link_to "#", remote: true do
          = image_tag('icon-enterprise.png')
          %p Indicações
      .column
        = link_to "#", remote: true do
          = image_tag('icon-team.png')
          %p Entidade
