<!DOCTYPE html>
<html>
<head>
  <title>Common</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "common/application", media: "all" %>
  <%= javascript_include_tag "common/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
