= simple_form_for @session, remote: true do |f|
  = f.input :cpf, label: false, input_html: { type: 'number', placeholder: 'Informe seu CPF'}
  = f.input :password, label: false, input_html: { placeholder: 'Informe sua senha'}
  = f.submit 'Realizar acesso', class: 'button is-warning is-fullwidth', data: { disable_with: t(:disable_with)}
  .mini-divider
  = link_to 'Esqueci minha senha', '#', class: 'button is-dark is-fullwidth'