.columns.is-mobile
  .column.is-12.text-center
    %p.title.is-5 Requerimentos
.divider
.columns.is-mobile.text-center
  .column
    = link_to "Consultar", common.search_requeriments_path
  .column
    = link_to "Novo requerimento", common.new_requeriment_path

.columns.is-mobile.text-center
  .column
    = link_to "Tipo A"
  .column
    = link_to "Tipo B"
  .column
    = link_to "Tipo C"